/* FRONTEND CSS
*********************************************/

html {
	/* scrollbar fix (prevent ugly left pull for lower content sites) */
	overflow-y: scroll;
}

body {
	font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, Geneva, sans-serif;
	font-weight: normal;
	font-style: normal;
	margin:0;
	padding:0;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}


.container {
	max-width:1100px;
	margin:0 auto;
	padding:2% 0 0 !important;
}


.header {
	display:block;
	position:fixed;
	top:0;
	width:100%;
	background-color:#000;
	text-align:center;
	z-index:100;
	max-height:100px;
	overflow:hidden
}

body.front .header {
	top:-100px;
}

.header .container {
	padding-top:0 !important;
}

.header ul.nav {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	display:block;
	vertical-align:middle;
	font-size:14px;
	color:#FFFFFF;
}

.header ul.nav li {
	display:inline-block;
	position:relative;
	width:auto;
	margin:0 15px;
	padding:0;
	vertical-align:middle;
	text-transform:uppercase;
}

.header ul.nav li a, .header ul.nav li span {
	text-decoration:none;
	padding:5px 15px;
	color:#FFFFFF;
	cursor:pointer;
}

.header ul.nav li a:hover, .header ul.nav li span:hover {
	color:#CCCCCC;
}

.header ul.nav li span.projects:hover, .header ul.nav li.active span.projects, .header ul.nav li a.projects:hover {
	color:#a7d357;
}

.header ul.nav li a.clients:hover, .header ul.nav li.active a.clients {
	color:#f2ae61;
}

.header ul.nav li a.people:hover, .header ul.nav li.active a.people  {
	color:#ebda3b
}

.header ul.nav li a.services:hover, .header ul.nav li.active a.services {
	color:#5cd3ca;
}

/** SLIDES **/
.slide {
	background-color:#FFF;
	background-attachment:fixed;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	width:100%;
	min-height:100%;
	display:block;
	position:relative;
	margin:0;
	padding:0;
}

.slide .container {
	max-width:1100px;
	margin:0 auto;
	padding:10% 0 0 !important;
}

.top {
	text-align:center;
	margin:0;
	padding:0 0 2%;
}

.top .inspiration {
	font-size:250%;
	text-transform:uppercase;
	letter-spacing:5px;
	margin:0;
	padding:0;
}

.top .inspiration .small {
	font-size:60%;
}

.slide .container .message {
	text-align:center;
	font-size:250%
}

.slide .container .message .small {
	font-size:60%;
}

.slide .container .float-left {
	width:45%;
	padding:0 5% 0 0;
	float:left;
}

.slide .container .float-right {
	width:45%;
	padding:0 0 0 5%;
	float:left;
}

.slide .container .formResponsive .formHorizontal .formControlLabel .formRequired {
	color:#FF0000;
}

.slide .container .formResponsive .formHorizontal .formControlLabel {
	float: none;
	width: auto;
	padding-top: 0;
	text-align: left;
}

.slide .container .formResponsive .formHorizontal .formControls {
	margin-left: 0;
}

.slide .container .formResponsive textarea, .slide .container .formResponsive input[type="text"], .slide .container .formResponsive input[type="password"] {
	width:100%;
	margin-bottom:0;
}

.slide .container .rsform-block-captcha {
	display:none;
}

.slide .container .button, .slide .container .submit, .slide .container button, .slide .container input[type="submit"] {
	background-color:#332e2b;
	background-image:none;
	padding:10px 25px;
	color:#FFFFFF;
	font-weight:bold;
	border:0;
	outline:none;
}

.slide .container .button:hover, .slide .container .submit:hover, .slide .container button:hover, .slide .container input[type="submit"]:hover {
	background-color:#000000;
}


/* LANDING SLIDE */
#slide0 {
	background-color:transparent !important;
	text-align:center;
	
}

#slide0 .container {
	padding-top:13%;
	
}

#slide0 ul#landing-navigation {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	display:block;
	vertical-align:middle;
	margin:0;
	padding:0;
}

#slide0 ul#landing-navigation li {
	display:inline-block;
	position:relative;
	width:auto;
	margin:0 10px;
	padding:0;
	vertical-align:middle;
	color:#332e2b;
	font-size:20px;
}

#slide0 ul#landing-navigation li.divider, #slide0 ul#landing-navigation li.divider span {
	color:#FFFFFF;
	margin:0;
}

#slide0 ul#landing-navigation li.divider img {
	width:90%
}

#slide0 ul#landing-navigation li a, #slide0 ul#landing-navigation li span {
	color:#332e2b;
	text-decoration:none;
	text-transform:uppercase;
	padding:10px;
	cursor:pointer;
}

#slide0 ul#landing-navigation li span.separator {
	padding:10px 0;
}

#slide0 ul#landing-navigation li span.separator:hover {
	background-color:transparent;
	cursor:default;
}

#slide0 ul#landing-navigation li a:hover, #slide0 ul#landing-navigation li span:hover {
	color:#FFFFFF;
	background-color:#332e2b;
	border-radius:5px;
}

#slide1 {
	background-image:url('../images/work-background.png')
}

#slide1 .item-page {
	display:inline-block;
	width:100%;
}

#slide1 article.wk-content {
	padding:100px 0;
}

/* EXPANDING GRID CSS */
ul.thumbs {
    padding: 0;
    margin: 0 100px;
	text-align:center;
    overflow: hidden;
	list-style-type:none;
}

ul.thumbs > li.thumb {
    display: inline-block;
    width:164px !important;
	height: 164px;
    overflow: hidden;
    padding: 0;
    /*float: left;*/
    position: relative;
	
	margin:25px 10px 0;
}

ul.thumbs > li a.thumbnail {
	background-repeat: no-repeat;
	background-size: cover;
    background-color: transparent;
    background-position-x: 50%;
	display: block;
	/*
		overflow: hidden;
	*/
    box-sizing: border-box;
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	z-index: 9;
    width: 100%;
    height: 100%;
}

ul.thumbs > li a.thumbnail h4 {
    padding: 5px 0;
    font-size:16px;
	font-weight:normal;
    margin: 0;
}

ul.thumbs > li a.thumbnail .description {
    padding: 0;
    position: absolute;
    height: 0;
    left:0;
	bottom: 0;
    width: 100%;
    box-sizing: inherit;
    opacity: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    color: #FFFFFF;
    background-color: #000000;
    padding: 10px;;
    box-sizing: inherit;
    text-align: center;
}

body.services ul.thumbs > li a.thumbnail .description {
    height: 50px;
    opacity: 1;
    color: #000000;
    background-color: transparent;
    padding:5px 10px;
	text-transform:uppercase;
	line-height:1;
}

body.services ul.thumbs > li a.thumbnail h4 {
	font-size:14px;
}

ul.thumbs > li a.thumbnail .active-arrow {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #fff;
    bottom: -2px;
    z-index: 99;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

@media (max-width: 970px)  {
	ul.thumbs > li {
		/*width: 50% !important;*/
	}
	.media iframe{
		width: 100%;
	}
}

@media (max-width: 1200px) and (min-width: 970px) {
    ul.thumbs > li {
        /*width: 33.3333% !important;*/
    }
}

ul.thumbs > li a.thumbnail:hover .description {
	height: 75px;
	opacity: 1;
}

ul.thumbs > li.content {
	width: 100% !important;
	display:block !important;
	background-color:#FFFFFF;
	/*
		float: left;
	*/
	position: absolute;
	left:0;
	padding: 50px 0 0;
	margin-top:-5px;
	z-index:1;
	
	
}
ul.thumbs > li.content .container {
	padding-top:0 !important;
	display:inline-block;
	text-align:left;
}

ul.thumbs > li.content article {
	display:inline-block;
	position:relative;
	width:35%;
	margin-right:10%;
	float:right;
}

ul.thumbs > li.content h3 {
    display: inline-block;
}

ul.thumbs > li.content ul.slides {
	margin-bottom:50px;
	/*
		overflow:visible !important;
		display:inline-block !important;
		height:auto !important;
	*/
}

ul.thumbs > li.content .slides li {
	width:100% !important;
	/*
		height:auto !important;
	*/
	background-color:#FFFFFF;

}

ul.thumbs > li.content ul.slides li .client-logo {
	padding:0 0 25px;
	border-bottom:2px solid #000;
	margin-bottom:25px
}

ul.thumbs > li.content ul.slides li h3 {
	text-transform:uppercase;
	font-weight:bold;
	font-size:16px;
	margin:0;
	padding:0;
}

ul.thumbs > li.content .close {
    position: relative;
	/*
		float:right;
		margin-top:-50px;
		top: 0;
		right: 0;
		color: #c2c2c2;
		
		font-weight: normal;
		font-family: -webkit-pictograph;
		font-size: 76px;
		line-height: 70px;
	*/
	display:inline-block;
	cursor: pointer;
	margin:0 10px;
	text-transform:uppercase;
	top:-10px;
	padding:10px;
}

body.services ul.thumbs > li.content .close {
	position: relative;
	bottom: -10px;
	color: #000000;
	background-color:#00c2bf;
	font-weight: normal;
	display:inline-block;
	text-align:center;
	width:100%;
	margin:25px 0 -10px;
	padding:10px 0;
	box-shadow: 5px 20px 25px #0F0F0F;
}

body.services ul.thumbs > li.content .close:hover {
	opacity:1;
	color:#666666;
}

ul.thumbs > li.content .close:hover {
    opacity: 0.7;
}

ul.thumbs > li.content .media {
    display: inline-block;
    float: left;
    margin-right: 20px;
    width: 50%;
    min-height: 200px;
}

ul.thumbs > li.content .media img {
    max-width: 100%;
	max-height: 100%;
}

ul.thumbs > li.content .media img.float-img {
	float:none !important;
}

@media (min-width: 768px) {
	ul.thumbs > li.content .media {
		text-align:right
	}
}

@media (max-width: 1080px) {
	.close {
		right: 0 !important;
		top: 7px !important;
	}
	ul.thumbs > .media {
		/*margin-right: 0;
		margin-bottom: 20px;*/
	}
}
@media (max-width: 590px) {
	ul.thumbs > li {
		width: 100% !important;
	}
	ul.thumbs .media {
		/*display: none !important;*/
	}
}
@media (max-width: 700px) and (min-width: 590px) {
	ul.thumbs > .media {
		width: 100% !important;
		display: block !important;
		margin-top: 60px;
		text-align:center;
	}
}

li.content .wk-slideshow > div.buttons {
	background-color:#030303;
	box-shadow: 5px 20px 45px #0F0F0F;
}

body.front li.content .wk-slideshow > div.buttons {
	background-color:#a7d357 !important;
	color:#000000 !important;
}

.portfolio-content {
    display: none;
}


/* CLIENTS SLIDE */
body.clients #slide1 {
	background-image:url('../images/clients-background.png');
	display:inline-block
}

ul#client-list {
	list-style-type:none;
	list-style-position:inside;
	vertical-align:middle;
	text-align:center;
	margin:0;
	padding:0;
}

ul#client-list li {
	width:118px;
	height:118px;
	line-height:118px;
	display:inline-block;
	position:relative;
	margin:10px;
	padding:5px;
	text-align:center;
	vertical-align:middle;
	background-image:url('../images/logo-background.png');
}

ul#client-list li span {
	display:block;
	position:relative;
	margin:auto 0;
}

ul#client-list li img {
	max-width:100%;
	vertical-align:middle
}




/* PEOPLE SLIDE */
body.people #slide1, body.careers #slide1 {
	background-image:url('../images/people-background.png')
}





/* SERVICES SLIDE */
body.services #slide1 {
	background-image:url('../images/services-background.png')
}

body.services #slide1 ul li.content .container {
	max-width:900px;
}

body.services #slide1 ul li.content .container .item-image {
	display:inline-block;
	width:15%;
	position:relative;
	float:left;
	text-align:right;
	margin-right:10%;
}

body.services #slide1 ul li.content .container .body-copy {
	display:inline-block;
	width:75%;
	position:relative;
	float:right;
	margin-bottom:50px;
}

body.services .bottom {
	color:#FFFFFF;
}




/* CAREERS SLIDE */
body.careers #slide1 .container {
	max-width:900px;
}

body.careers #slide1 h2 {
	text-transform:uppercase;
	font-size:36px;
	font-weight:normal;
}

body.careers #slide1 h4 {
	text-transform:uppercase;
	font-size:18px;
	font-weight:bold;
}






/* CONTACT SLIDE */
body.contact #slide1 .container .page-header h2 {
	text-transform:uppercase;
	font-size:36px;
	font-weight:normal;
}






/* COMMUNITY SLIDE */
body.food-for-the-soul #slide1 {
	background-image:url('../images/community-service-background.png');
}

body.food-for-the-soul #slide1 .container {
	max-width:900px;
}

body.food-for-the-soul #slide1 h2 {
	text-transform:uppercase;
	text-align:center;
	font-size:400%;
	font-weight:normal;
	color:#FFFFFF;
	vertical-align:middle;
	margin:0 0 25px;
	padding:0;
}

body.food-for-the-soul #slide1 h2 .small {
	font-size:75%;
	vertical-align:middle;
}

body.food-for-the-soul #slide1 h4 {
	font-size:150%;
	font-weight:normal;
	margin:0;
	padding:0;
}




/** BOTTOM **/ 
.bottom {
	text-align:center;
	margin:0;
	padding:2% 0;
}

body.services .bottom {
	color:#000000;
	padding:3% 10%;
}

.bottom .inspiration {
	font-size:250%;
	text-transform:uppercase;
	letter-spacing:5px
}

.bottom .inspiration .small {
	font-size:60%;
}


.footer {
	position:static;
	bottom:0;
	margin:0;
	padding:0;
	background-color:#000000;
	color:#7bdbea;
	font-size:16px;
}

.footer .container {
	padding-bottom:3% !important;
}

.footer .footer-block {
	position:relative;
	width:32%;
	display:inline-block;
	text-align:center;
	vertical-align:bottom;
}

.footer .footer-block ul.nav {
	list-style-type:none;
}

.footer .footer-navigation ul.nav li a, .footer .footer-navigation ul.nav li span {
	display:inline-block;
	padding:7px;
	font-size:14px;
	color:#7bdbea;
	text-transform:uppercase;
	text-decoration:none;
}

.footer .footer-navigation ul.nav li a:hover, .footer .footer-navigation ul.nav li span:hover {
	color:#FFFFFF;
	text-decoration:underline;
}

.footer .social-navigation ul.nav li {
	width:auto;
	float:left;
	display:inline-block;
	position:relative;
	padding:5px;
}

.footer .copyright {
	display:block;
	position:relative;
	clear:both;
	float:none;
	text-align:center;
	padding:2% 0;
}

.footer .copyright {
	display:block;
	position:relative;
	clear:both;
	float:none;
	text-align:center;
	padding:2% 0;
}

.footer .copyright .separator {
	display:inline-block;
	position:relative;
	margin:0 15px;
}

.footer .copyright .phone {
	color:#fff;
}




/* MEDIA QUERIES
*********************************************/

/* Extra small devices (phones, less than 768px) */
/* No media query -> mobile first strategy */

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
	.header {top:0 !important; background-color:#000000; min-height:80px; z-index:100; display:inline-block; width:100%; overflow:visible !important;}
	.nav-button {outline:none !important;}
	.primary-nav {background-image:url('../images/allebach-header-logo.png'); background-position:center 10px; background-repeat:no-repeat; background-color:#000000; margin-top:5px; padding-top:80px !important;  z-index:100; display:block !important; width:100%; height:auto !important;}
	.primary-nav li {display:none !important; width:100% !important; z-index:100;}
	.primary-nav.open {display:inline-block !important; width:100% !important; z-index:100;}
	.primary-nav.open li {display:inline-block !important;}
	.primary-nav.open li.item-107, .primary-nav.open li.item-176 {display:none !important;}
	
	#slide0 .container {padding-top:25% !important;}
	#slide0 .container #landing-navigation li {display:none !important;}
	#slide0 .container #landing-navigation li.item-103 {display:block !important;}
	
	
	body.front #slide1 .container {padding-top:25% !important;}
	#slide1 .container ul.thumbs {margin:0 25px}
	#slide1 .container ul.thumbs > li a.thumbnail .description {height:75px !important; opacity:1;}
	body.services #slide1 .container ul.thumbs > li a.thumbnail .description {height: 50px !important;}
	#slide1 .container li.content, #slide1 .container li.content .container {padding-top:0 !important;}
	#slide1 .container li.content .wk-slideshow {display:block !important; height:auto !important; overflow:visible !important; width:100% !important;}
	#slide1 .container li.content .wk-slideshow > div {display:block !important; position:relative !important; height:auto !important; overflow:hidden !important;}
	#slide1 .container li.content .wk-slideshow ul.slides {width:100% !important; height:auto !important; overflow:visible !important; min-height:650px;}
	#slide1 .container li.content .wk-slideshow ul.slides li {width:100% !important; height:auto !important; overflow:visible !important;}
	#slide1 .container li.content .wk-slideshow ul.slides li .media, #slide1 .container .wk-slideshow ul.slides li article {width:90%; margin:0; padding:5%;}
	#slide1 .container li.content .wk-slideshow ul.slides li .media a img.float-img {max-width:40% !important;}
	#slide1 .container li.content .wk-slideshow ul.slides li article .client-logo {display:none !important;}
	#slide1 .container li.content .wk-slideshow div.buttons {z-index:100 !important;}
	body.front .container .wk-slideshow div.buttons .container {padding-top:0 !important;}
	#slide1 .container li.content .wk-slideshow div.buttons .close {top:-10px !important;}
	
	body.services #slide1 li.content {width:90% !important; padding:15% 5% 0 !important;}
	body.services #slide1 li.content .item-image img {width:100%;}
	body.services #slide1 li.content .close {margin-left:-6% !important; margin-right:-6% !important; width:112% !important;}
	
	body.food-for-the-soul #slide1 h2 {	color:#000000;}
	body.food-for-the-soul #slide1 .item-page {width:90%;}
	
	.slide .container .item-page {padding:0 5%}
	.slide .container .float-left, .slide .container .float-right {width:100%; float:none;}
	.slide .container .float-right {margin-top:20% !important; padding:0 !important;}
	.slide .container .formResponsive textarea, .slide .container .formResponsive input[type="text"], .slide .container .formResponsive input[type="password"] {width:90% !important; margin-bottom:0 !important;}
	
	body.clients #slide1 .item-page, body.people #slide1 .item-page {padding:0 !important;}
	#slide1 .container ul#client-list {margin:0; padding:0;}
	.bottom .inspiration {font-size: 200%;}
	body.services #slide1 .top {font-size:50%;}
	
	body.services #slide1 ul li.content .container .item-image {display:none;}
	body.services #slide1 ul li.content .container .body-copy {width:100%}
	body.services #slide1 ul li.content .container .body-copy img {max-width:100% !important; margin:0 !important;}
	
	body.careers #slide1 .item-page, body.contact #slide1 .item-page {width:90%;}
	
	.footer .footer-block {position:relative; width:45%; display:inline-block; text-align:center; vertical-align:top;}
	.footer .footer-logo {display:none !important;}
	.footer .social-navigation ul.nav li {width:40%; float:left; display:inline-block; position:relative; padding:5px; text-align:center;}
	.footer .copyright {font-size:10px; padding-left:10%; padding-right:10%;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* for higher resolutions (android and retina) */
@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (max--moz-device-pixel-ratio: 1.5) {
}